{% extends 'visitor/nav_bar.html.twig' %}
{% block body %}
    <div class="row d-flex justify-content-center">
        <div class="col-sm-10">
            <div class="card rounded-0">
                <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=roc-mondriaan-tinwerf" width= 100% height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                <div class="card-body">
                    <h4 class="card-title">PassFD Den Haag</h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Tinwerf 16</li>
                        <li class="list-group-item">Tel: 0622322838</li>
                        <a href="https://goo.gl/maps/eHrkhhEUNhdyRxrf6" class="btn btn-info">Navigate</a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="card rounded-0">
                <div class="card-body">
                    <h4 class="card-title">PassFD Coevorden</h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Monierweg 20, 7741 KT Coevorden</li>
                        <li class="list-group-item">Tel: 0524 223 779</li>
                        <a href="https://goo.gl/maps/3HdyA3dTHzVANDbt5" class="btn btn-info">Navigate</a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="card rounded-0">
                <div class="card-body">
                    <h4 class="card-title">PassFD Nieuw Namen</h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Zorgdijk 5, 4568 PN Nieuw Namen</li>
                        <li class="list-group-item">Tel: 06 13382511</li>
                        <a href="https://goo.gl/maps/o57dNs18PbsVTNUMA" class="btn btn-info">Navigate</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}